@import 'normalize.scss';
@import 'fonts.scss';
@import 'swiper-bundle.min.scss';
@import 'variables.scss';

body {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  color: var(--main-black-color);
  background-color: var(--main-white-color);
}

.stop-scroll {
  overflow: hidden;

}

.container {
  min-width: 320px;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 50px;
}

.second-title {
  @include title-reset;
  font-family: "Songersemiexpanded";
  font-size: var(--second-title-fsz);
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.main-btn {
  @include reset-style;
  display: block;
  width: max-content;
  padding: 18px 28px;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-white-color);
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--main-btn-bg-color);
  transition: background-color .3s ease;
}

.main-btn:focus {
  outline: none;
  background-color: var(--main-btn-hover-bg-color);
  transition: background-color .3s ease;
}

.main-btn:hover {
  background-color: var(--main-btn-hover-bg-color);
  transition: background-color .3s ease;
}

.header {
  margin-bottom: var(--section-gap-one);

  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 7fr;
    gap: var(--grid-gap);
    min-height: 60px;
  }

  &__logo-img {
    @include img-reset;
  }

  &__logo-link {
    @include reset-style;
    width: fit-content;
    height: fit-content;
  }

  &__nav {
    justify-self: flex-end;
  }

  &__list {
    @include reset-style;
    display: flex;
    flex-wrap: wrap;
    padding-top: 13px;
    list-style: none;
  }

  &__link {
    @include reset-style;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__link::after {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--main-black-color);
    transition: width 0.3s ease-out;
  }

  &__link:focus {
    outline: none;
  }

  &__link:focus::after {
    width: 100%;
    transition: width .3s ease-in-out;
  }

  &__link:hover::after {
    width: 100%;
    transition: width .3s ease-in-out;
  }

  &__item-animate {
    transform: translateX(-50px);
    opacity: 1;
    transition: transform .1s ease, opacity .1s ease;
  }

  &__item:not(:last-child) {
    margin-right: calc(38.6px + (60 - 38) * ((100vw - 1400px) / (1920 - 1400)));
  }

  &__burger {
    display: none;
  }

  &__logo-link-burger {
    display: none;
  }

  &__social-list {
    display: none;
  }

  &__timetable {
    display: none;
  }

}

.home {
  margin-bottom: var(--section-gap-one);

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: var(--grid-gap);
  }

  &__title {
    @include title-reset;
    margin-bottom: 19px;
    font-family: "Songersemiexpanded";
    font-size: 38px;
    font-weight: 400;
    line-height: 49px;
  }

  &__left-panel {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 345px;
    padding: 26px 19px 25px 15px;
    background: var(--main-gradient);
    border-radius: 20px 20px 0 20px;
  }

  &__btn {
    padding-top: 20px;
    padding-bottom: 19px;
  }

  &__second-title {
    @include title-reset;
    max-width: 222px;
    margin-bottom: auto;
    font-size: var(--third-title-fsz);
    font-weight: 400;

  }

  &__mortgage {
    display: flex;
    justify-content: space-between;
    min-height: 125px;
    padding: 15px 20px 15px 15px;
    background: linear-gradient(-30deg, #A8DBF0 -2.53%, #E5F6FD 71.15%);
    border-radius: 20px 0 20px 20px;
  }

  &__percent {
    display: block;
    font-size: 80.063px;
    padding: 16px 20px;
    background-color: #fff;
    border-radius: 11px;
  }

  &__third-title {
    display: block;
    max-width: 167px;
    margin: 0;
    padding: 0;
    padding-top: 14px;
    text-transform: uppercase;
    text-align: end;
    font-weight: 400;
    font-size: 26px;
  }

  &__right-panel {
    display: flex;
    flex-direction: column;
    row-gap: var(--card-gap);
  }

  &__decor-top {
    position: relative;
    min-height: 395px;
    border-radius: 20px 20px 20px 0;
  }

  &__decor-bottom {
    min-height: 155px;
    border-radius: 0 20px 20px 20px;
  }

  &__img {
    @include img-reset;
    height: 100%;
    width: 100%;
  }

  &__nameplate {
    position: absolute;
    top: 11px;
    right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 247px;
    padding: 15px;
    padding-bottom: 11px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.48);
    backdrop-filter: blur(6px);
  }

  &__nameplate-title {
    @include title-reset;
    text-transform: uppercase;
    font-size: var(--other-descr);
    max-width: 101px;
    font-weight: 400;

  }

  &__nameplate-link-img {
    margin: 0;
  }

  &__mobile-btn {
    display: none;
  }
}

.about {
  min-height: 280px;
  margin-bottom: var(--section-gap-one);

  &__container {
    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 20px;
  }

  &__descr {
    font-size: var(--descr-fsz);
  }

  &__left-content {
    padding-left: 160px;
  }
}

.advantages {
  margin-bottom: var(--section-gap-one);

  &__container {
    display: grid;
    grid-template-columns: 1.9fr 6fr;
    gap: 20px;
  }

  &__title {
    max-width: 300px;
    line-height: 41px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 300px));
    grid-auto-columns: minmax(auto, 300px);
    grid-template-rows: minmax(110px, auto);
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
  }


  &__card {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(-14deg, #A8DBF0 -2.53%, #E5F6FD 71.15%), #E4F2F8;
    padding: 7px 15px 13px 10px;
    width: 275px;
    min-height: 89px;
    height: inherit;
    border-radius: 20px;
  }

  &__card::after {
    position: absolute;
    content: '01';
    top: -4px;
    right: 2px;
    color: rgba(249, 249, 249, 0.46);
    text-align: right;
    font-family: "Gilroy";
    font-size: 130px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__card-2 &__card-title {
    max-width: 130px;
  }

  &__card-2::after {
    content: '02'
  }

  &__card-3::after {
    content: '03'
  }

  &__card-4::after {
    content: '04'
  }

  &__card-5::after {
    content: '05'
  }

  &__card-6::after {
    content: '06'
  }

  &__card-title {
    @include title-reset;
    text-align: end;
    max-width: 188px;
    font-size: var(--descr-fsz);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__card-img {
    @include img-reset;
    align-self: baseline;
    padding-top: 4px;
    font-weight: 400;
    font-size: var(--descr-fsz);
  }


}

.selection {
  margin-bottom: var(--section-gap-two);

  &__main-img {
    display: grid;
    position: relative;
  }

  &__svg path {
    opacity: 0;
    cursor: pointer;
    transition: opacity .3s ease;
  }

  &__svg .svg-compas {
    opacity: 1;
  }

  &__svg path:hover {
    opacity: 1;
    transition: opacity .3s ease;
  }

  &__mobile-btn {
    display: none;
  }

}

.attractions {
  margin-bottom: var(--section-gap-one);

  &__container {
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: minmax(600px, auto);
    gap: var(--grid-gap);
  }

  &__card {
    display: flex;
    width: 100%;
  }

  &__contents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 32px 28px 19px 28px;
    border-radius: 20px;
    background: linear-gradient(133deg, #A8DBF0 -2.53%, #E5F6FD 71.15%);
  }

  &__title {
    max-width: 365px;
    margin-bottom: 43px;
    padding-left: 2px;
    line-height: 40px;
  }

  &__descr {
    max-width: 375px;
    font-size: var(--other-descr);
  }

  &__link {
    position: relative;
    display: block;
    padding-left: 24px;
    padding-top: 24px;
    width: 202px;
    height: 202px;
    z-index: 20;
    margin-bottom: auto;
  }

  &__link::after {
    position: absolute;
    content: '';
    background-image: url('@img/panorama.png');
    background-repeat: no-repeat;
    top: 0;
    left: 2px;
    width: 100%;
    height: 100%;
  }


  &__links {
    position: relative;
    display: none;
    padding-left: 24px;
    padding-top: 24px;
    width: 202px;
    height: 202px;
    z-index: 20;
    margin-bottom: auto;
  }

  &__links::after {
    position: absolute;
    content: '';
    background-image: url('@img/panorama.png');
    background-repeat: no-repeat;
    top: 0;
    left: 2px;
    width: 100%;
    height: 100%;
  }

  &__img {
    margin: 0;
    margin-bottom: auto;
  }

  &__slide-img {
    @include img-reset;
    width: 100%;
    height: 100%;
  }

  &__slider {
    min-width: 320px;
    max-width: 640px;
  }

}

.bonus {
  margin-bottom: var(--section-gap-two);
  background-color: #5CA1D9;

  &__container {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    gap: 20px;
    align-items: center;
    min-height: 108px;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  &__img {
    margin: 0;
    max-width: 100%
  }

  &__title {
    @include title-reset;
    max-width: 405px;
    padding-left: 41px;
    color: var(--main-white-color);
    font-family: "Songersemiexpanded";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  &__btn {
    justify-self: flex-end;
    align-self: end;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.maps {
  margin-bottom: var(--section-gap-one);

  &__map {
    border-radius: 20px;
    width: 100%;
    height: 595px;
  }
}

.footer {
  position: relative;
  padding-top: 109px;

  &__container {

    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 92px;
    border-radius: 20px 20px 0 0;
    color: var(--main-white-color);
    background-color: #1C1C1C;
  }

  &__area {
    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 20px;
    margin: 0 auto;
    max-width: 1360px;
    padding: 0 16px;
  }

  &__cat-mobile {
    display: none;
  }

  &__right-panel {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 17px;
    padding-top: 4px;
    font-weight: 400;
  }

  &__descr {
    margin-bottom: 43px;
    font-size: var(--other-descr);
    max-width: 355px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__form-buttom-panel {
    display: flex;
    gap: 20px;
    width: 100%;
  }

  &__form-div {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__form-column {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__input {
    width: 43.3%;
    height: 46px;
    margin-right: 10px;
    background-color: transparent;
    color: var(--main-white-color);
    border: 1px solid rgba(249, 249, 249, 0.60);
    border-radius: 10px;
    padding-left: 18px;
  }

  &__input::placeholder {
    font-size: 14px;
    font-weight: 250;
  }

  &__form-btn {
    padding: 14px 45px;
    border: none;
    color: var(--main-black-color);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .3s ease;
  }

  &__bottom-input {
    margin-right: 0;
  }

  &__form-btn:focus {
    outline: none;
    background-color: #808080;
    transition: background-color .3s ease;
  }

  &__form-btn:hover {
    background-color: #808080;
    transition: background-color .3s ease;
  }

  &__form-policy {
    max-width: 292px;
    font-size: 12px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    opacity: 0.7;
  }

  &__img {
    position: absolute;
    left: 10px;
    bottom: 0;
    margin: 0;
  }

  &__input.just-validate-error-field {
    border: 1px solid rgba(255, 114, 114, 0.60);
    background: rgba(255, 114, 114, 0.17);
  }

}

.copy {
  &__container {
    max-width: 100%;
    background-color: #0F0F0F;
  }

  &__area {
    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 20px;
    max-width: 1360px;
    min-height: 84px;
    padding: 0 16px;
    margin: 0 auto;
  }

  &__right-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    @include reset-style;
    padding-top: 3px;
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__item:last-child {
    padding-top: 5px;
  }

  &__link-img {
    margin: 0;
  }

  &__years {
    padding-top: 6px;
    color: var(--main-white-color);
    font-size: var(--other-descr);
  }


}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  top: inherit;
  bottom: 0px;
  left: inherit;
  right: 88px;
  width: 30px;
  height: 40px;
}

.swiper-button-next {
  top: inherit;
  bottom: 0px;
  left: inherit;
  right: 28px;
  width: 50px;
  height: 40px;
}


.swiper-button-prev:after {
  content: "";
  background-image: url('@img/arrow-back.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 8px;
}

.swiper-button-next:after {
  content: "";
  background-image: url('@img/arrow-next.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 8px;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  max-width: 201px;
  padding: 20px 25px;
  border-radius: 14px;
  background-color: #fff;

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__text {
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }

  &__scale {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__progress {
    display: block;
    color: var(--main-black-color);
    background-color: #0F0F0F4D;
    width: 200px;
    height: 3px;
    border-radius: 50%;
  }

  &__progress::-webkit-progress-value {
    background-color: #0F0F0F;
    border-radius: 20px;
  }

  &__progress::-webkit-progress-bar {
    border-radius: 6px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    row-gap: 12px;
    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__descr {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__quantity {
    color: rgba(15, 15, 15, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.tooltip-active {
  display: flex;
}

#tooltip {
  position: relative;
}

// documents

.documents {
  margin-bottom: var(--section-gap-one);

  &__title {
    @include reset-style;
    max-width: 300px;
    margin-bottom: 41px;
    font-family: "Songersemiexpanded";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    height: 100%;
    flex: 0 0 300px;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 10px 14px 10px 10px;
    border-radius: 20px;
    min-height: 90px;
    background: linear-gradient(-14deg, #A8DBF0 -2.53%, #E5F6FD 71.15%);
  }

  &__card-img {
    margin: 0;
  }

  &__card-title {
    max-width: 150px;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__card::after {
    position: absolute;
    content: '01';
    top: 6px;
    right: 2px;
    color: rgba(249, 249, 249, 0.46);
    text-align: right;
    font-family: "Gilroy";
    font-size: 130px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__card-2::after {
    content: '02';
  }

  &__card-3::after {
    content: '03';
  }

  &__card-4::after {
    content: '04';
  }

  &__card-5::after {
    content: '05';
  }

  &__card-6::after {
    content: '06';
  }

  &__card-7::after {
    content: '07';
  }

}

// building

.builders {
  &__title {
    max-width: 300px;
    margin-bottom: 50px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__list {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  &__item {
    max-width: 300px;
  }

  &__item:last-child {
    align-self: flex-start;
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px 20px;
    text-decoration: none;
    color: var(--main-black-color);
    border-radius: 20px;
    background: linear-gradient(133deg, #A8DBF0 -2.53%, #E5F6FD 71.15%);
  }

  &__card-title {
    max-width: 200px;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
  }

  &__card-img {
    @include reset-style;
    max-width: 100%
  }
}

// contacts

.contacts {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    max-width: 300px;
  }

  &__card {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 6px;
    font-family: 'Gilroy';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
  }

  &__logo-link {
    display: none;
  }


  &__descr {
    max-width: 170px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__link {
    text-decoration: none;
    color: var(--main-black-color);
    margin-bottom: 10px;
  }

  &__social-list {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__crs {
    max-width: 220px;
    font-weight: 500;
    color: var(--acent-color);
  }
}

// installment
.installment {
  &__title {
    max-width: 225px;
    margin-bottom: 19px;
  }

  &__area {
    display: grid;
    grid-template-columns: 3fr 6fr;
    gap: 20px;
  }

  &__left-panel {
    position: relative;
    height: 100%;

  }

  &__card {
    max-width: 438px;
    z-index: 1;
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 0;
  }

  &__img {
    display: block;
    margin: 0;
    max-width: 100%
  }

  &__nameplate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 10px;
    left: 10px;
    gap: 18px;
    padding: 14px 15px 14px 20px;
    margin-right: 10px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.48);
    backdrop-filter: blur(6px);
  }

  &__nameplate-title {
    margin: 0;
    padding: 0;
    max-width: 180px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  &__nameplate-img {
    margin: 0;
    max-width: 100%;
    display: block;
  }

  &__second-title {
    max-width: 407px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__right-panel {
    max-width: 620px;
  }

  &__list {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    margin-bottom: 46px;
  }

  &__descr {
    margin-bottom: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__list-number {
    list-style: decimal;
  }

  &__right-bottom-panel {
    display: flex;
    flex-direction: column;
    max-width: 619px;
    padding: 20px 143px 20px 20px;
    border-radius: 20px;
    background: linear-gradient(133deg, #A8DBF0 -2.53%, #E5F6FD 71.15%);
  }

  &__descr-bottom {
    max-width: 456px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

//404

.error {
  &__title {
    font-size: 22px;
    margin-bottom: 7px;
  }

  &__descr {
    max-width: 269px;
    margin-bottom: 40px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.footer__404 {
  min-height: 292px;
}

.footer__404-img {
  top: -137px;
  left: inherit;
  bottom: inherit;
  right: 70px;
}

// selection of apartments

.apartments {
  margin-bottom: 70px;

  &__container {
    position: relative;
  }

  &__nameplate {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 82px;
    top: 20px;
    left: 70px;
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 20px;
  }

  &__nameplate-title {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__nameplate-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 200px;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__nameplate-descr {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__nameplate-span {
    color: rgba(15, 15, 15, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__hot {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 70px;
    top: 20px;
    min-width: 277px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.48);
    backdrop-filter: blur(6px);
    padding: 17px 8px 17px 15px;
  }

  &__hot-title {
    margin: 0;
    max-width: 150px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  &__hot-img {
    margin: 0;
    width: 54px;
    height: 54px;
  }

  &__svg-floor {
    opacity: 0;
    transition: opacity .2s ease;

    &.active {
      opacity: 1;
      color: #1D5685;
    }

    &:hover {
      color: #1D5685;
      opacity: 1;
      transition: opacity .2s ease;
    }
  }
}

.floor {
  &__container {
    padding-top: 50px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 70px;
  }

  &__svg {
    opacity: 0;
    cursor: pointer;
    transition: opacity .3s ease;
  }

  &__svg:hover {
    opacity: 1;
    transition: opacity .3s ease;
  }

  &__floors {
    display: none;
  }

  &__one {
    display: block;
  }
  
  &__btn-more {
    align-self: center;
  }
}

.filter {
  margin-bottom: 70px;
  padding-top: 30px;

  &__room {
    margin-right: 20vw;
  }

  &__area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
  }

  &__btn-area {
    display: flex;

  }

  &__card {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    margin: 0;
    min-width: 40px;
    min-height: 40px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: #F2F2F2;
    border-radius: 10px;
    cursor: pointer;
  }

  &__btn-active {
    background: #1D5685;
    color: #fff;
  }

  &__btn:not(:last-child) {
    margin-right: 10px;
  }

  &__span {
    margin-bottom: 8px;
    color: #8C94A8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 11.427px;
    letter-spacing: -0.057px;
  }

  &__price-value {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__price-input {
    min-width: 272px;
    height: 2px;

  }

  &__main-btn {
    padding: 11px 28px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: #1D5685;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: auto;
  }

  &__main-btn-span {
    color: #888787;
    position: relative;
    padding-left: 20px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: none
  }

  &__main-btn-span:before {
    position: absolute;
    content: '';
    top: 0;
    left: 10px;
    border-left: 1px solid #fff;
    width: 1px;
    height: 100%;
  }

  &__close-btn {
    @include reset-style;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #1D5685;
    border-radius: 10px;
    cursor: pointer;
  }

  &__close-btn-line {
    position: absolute;
    bottom: 20px;
    left: 8px;
    width: 25px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
  }

  &__close-btn-line:last-child {
    top: 18px;
    transform: rotate(-45deg);
  }
}

.hidden {
  display: none;
}

.card-area {
  display: flex;
  flex-direction: column;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: minmax(300px, auto);
    grid-auto-rows: minmax(300px, auto);
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 20px;
  }

  &__item {
    padding: 20px;
    background: linear-gradient(133deg, #A8DBF0 -2.53%, #E5F6FD 71.15%);
    border-radius: 20px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  height: 100%;

  &__title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__price {
    display: block;
    position: relative;
    min-width: 120px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__price::after {
    position: absolute;
    content: '\20BD';
    top: 0;
    right: 0;
  }

  &__img {
    align-self: center;
    margin: 0;
  }

  &__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.apartments__maps {
  position: relative;
}

.js-hover-path,
.js-hover-path_floor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  > .hover-path {
    display: none;
    position: absolute;
    border-radius: 14px;
    background: #1D5685;
    padding: 20px 25px;
    transform: translateY(-50%);
  }

  > .hover-path_hover {
    display: block;
  }
}

.js-img-floor {
  .floor__floors {
    display: none;

    &.active {
      display: block;
    }
  }
}

.floor__svg {
  &.sold {
    color: #FF7C7C;
    opacity: 0.8;
  }

  &.reservation {
    color: #FFCB7C;
    opacity: 1;
  }

  &.free {
    color: #1D5685;
    opacity: 0;
    mix-blend-mode: plus-lighter;

    &:hover {
      opacity: 1;
    }
  }
}

.js-filter {
  display: none;

  &.active {
    display: block;
  }
}

.card-area__item.hidden {
  display: none;
}

.hover-path-floor {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    min-width: 84px;
  }

  &__descr {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

}

.hover-path-apartments {
  padding: 20px 25px;

  &__title {
    color: #fff;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
  }

  &__descr {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}


@media (min-width: 992px) { 
  .main-btn:hover {
    background-color: var(--main-btn-hover-bg-color);
    transition: background-color .3s ease;
  }
  .header {
    &__link:hover::after {
      width: 100%;
      transition: width .3s ease-in-out;
    }
  }
  .selection {
    &__svg path:hover {
      opacity: 1;
      transition: opacity .3s ease;
    }
  }
  // selection of apartments
.apartments {


  &__svg-floor:hover {
    opacity: 1;
    transition: opacity .2s ease;
  }
}
.footer {
  &__form-btn:hover {
    background-color: #808080;
    transition: background-color .3s ease;
  }

}
.floor {
    &__svg:hover {
      opacity: 1;
      transition: opacity .3s ease;
    }
}
}


@import 'media.scss';